html,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;  color: #344A5E;
}

.fa-anchor,
.fa-coffee {
  font-size: 200px;
}

.circle {
  border-radius: 50%;
  width: 5%;
  display: inline-block;
}

.container {
  position: relative;
  width: 100%;
}

.container img {
  width: 100%;
  height: auto;
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.container .button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #344A5E;
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
}


/* resume style */
/* Split the screen in half */
.flex-container {
  display: flex;
  padding: 40px;
}

.flex-child {
  flex: 1;
  border: 2px solid yellow;
}  

.flex-child:first-child {
  margin-right: 20px;
} 

#rcorners4 {
  border-radius: 100%;
  background: #ffffff;
  padding: 20px; 
  width: 200px;
  height: 150px; 
} 

div.polaroid {
  overflow:hidden;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 5px 5px rgb(0,0,0, 0.19);
  text-align: center;
  border-radius: 100px;
  position:relative;
}
